<?xml version="1.0" encoding="UTF-8"?>
<root>
	<student>
		<name>产品路径</name>
		<value>E:\\公共气象服务平台\\</value>
	</student>
	<student>
		<name>短信路径</name>
		<value>D:\\bmdx\\</value>
	</student>
	<student>
		<name>12121路径</name>
		<value>C:\\manager\\boxtxt\\</value>
	</student>
	<student>
		<name>邮箱地址</name>
		<value>hbjradar@126.com</value>
	</student>
</root>